/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Police attrayante et cohérente */
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2C2C49;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

/* Header Styles */
header {
    background-color: #2C2C49; /* Couleur préférée */
    color: white;
    text-align: center;
    padding: 40px;
    border-bottom: 5px solid #F2545B; /* Ligne colorée subtile en bas du header */
}

header h1 {
    font-size: 2.5em; /* Taille réduite pour plus de cohérence */
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em; /* Taille réduite pour plus d'harmonie */
    font-weight: 300;
}

.photo-profil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #F2545B; /* Encadrement rouge élégant autour de la photo */
    margin-bottom: 20px;
}

.lang-switcher {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1em;
    font-weight: bold;
}

.lang-switcher a {
    color: white;
    margin: 0 15px;
    transition: opacity 0.3s ease;
}

.lang-switcher a:hover {
    opacity: 0.7;
}

/* Section Styling */
section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

section h2 {
    font-size: 2em; /* Taille cohérente et professionnelle */
    color: #2C2C49;
    margin-bottom: 20px;
    border-bottom: 2px solid #F2545B;
    padding-bottom: 10px;
}

section p, section ul, section li {
    font-size: 1.1em; /* Uniformité du texte pour un rendu plus agréable */
    color: #555;
    margin-bottom: 20px;
}

.experience-item {
    margin-bottom: 30px;
}

.experience-item h3 {
    font-size: 1.6em; /* Taille plus petite pour le sous-titre */
    color: #2C2C49;
    margin-bottom: 10px;
}

.experience-item p {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 10px;
}

.experience-item ul {
    list-style: disc;
    margin-left: 20px;
    font-size: 1.1em;
}

.experience-item ul li {
    margin-bottom: 10px;
}

/* Footer Styling */
footer {
    background-color: #2C2C49;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1em;
}

footer a {
    color: #F2545B;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-container .footer-left {
    text-align: left;
}

.footer-container .footer-right {
    text-align: right;
}

footer p.copyright {
    margin-top: 10px;
    font-size: 0.9em;
    color: #ccc;
}
