* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #007acc;
    color: white;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 5px;
}

.photo-profil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

section {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #007acc;
}

section ul, section p {
    margin: 10px 0;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 8px;
}

.experience-item, .education-item {
    margin-bottom: 20px;
}

.experience-item h3, .education-item h3 {
    font-size: 1.3em;
    color: #007acc;
}

.experience-item ul, .education-item p {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007acc;
    color: white;
    margin-top: 20px;
}
